<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="grey-bg">
    <div className="login">
        <form action="/signup" method="POST">
            <input type="text" placeholder="name" name="username">
            <div></div>
            <input type="text" placeholder="id" name="userid">
            <div></div>
            <input type="password" placeholder="password" name="password">
            <div></div>
            <input type="password" placeholder="confirm password" name="password2">
            <div></div>
            <input type="text" placeholder="e-mail" name="email">
            <div></div>
            <input type="text" placeholder="phone" name="phone">
            <div></div>
            <button type="submit">join</button>
        </form>
    </div>
</body>

</html>